[submodule "themes/osuny"]
	path = themes/osuny
	url = git@github.com:osunyorg/theme.git
	branch = main
[submodule "themes/osuny-plugin-pagedjs"]
	path = themes/osuny-plugin-pagedjs
	url = https://github.com/osunyorg/osuny-plugin-pagedjs
[submodule "themes/osuny-plugin-reading-progress"]
	path = themes/osuny-plugin-reading-progress
	url = git@github.com:osunyorg/osuny-plugin-reading-progress.git
[submodule "themes/osuny-plugin-centered-header"]
	path = themes/osuny-plugin-centered-header
	url = git@github.com:osunyorg/osuny-plugin-centered-header.git
[submodule "themes/osuny-plugin-centered-footer"]
	path = themes/osuny-plugin-centered-footer
	url = git@github.com:osunyorg/osuny-plugin-centered-footer.git
[submodule "themes/osuny-plugin-centered-layout"]
	path = themes/osuny-plugin-centered-layout
	url = git@github.com:osunyorg/osuny-plugin-centered-layout.git
