{{ define "main" }}
  {{ partial "pages/hero.html" . }}
  {{ partial "hooks/after-page-hero.html" . }}

  <div class="document-content">
    {{ partial "toc/container.html" (dict
        "toc" "pages/toc.html"
        "context" .
      ) }}

    {{ partial "pages/summary.html" (dict
        "context" .
        "block_wrapped" true
      ) }}


    <div class="container">
      {{ $icons := slice "arrow" "arrow-raw" "arrow-first" "arrow-last" "arrow-left" "arrow-next" "arrow-previous" "arrow-right" "burger" "burger-close" "caret" "caret-bottom" "caret-left" "caret-top" "caret-right" "check" "check-inline" "close" "copy" "download" "email" "eye" "facebook" "globe" "instagram" "link-blank" "linkedin"  "list-hyphen" "pause" "play" "search" "social" "social-facebook" "social-instagram" "social-linkedin" "social-mastodon" "social-peertube" "social-rss" "social-tiktok" "social-vimeo" "social-x" "social-youtube" "social-github" "social-email" "telegram" "toc" "twitter" "whatsapp" }}
      <table>
        <tbody>
          {{ range $icons }}
            <tr>
              <td><span style="font-size: 2rem;" class="icon-{{- . -}}"></span></td>
              <td>{{ . }}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>

{{ end }}
