$color-accent: #FFCB5B
$color-text: #000000
$color-text-alt: #454545
$color-border: #DEDEDE
$color-background-alt: #F2F2F2
$color-background: #FFFFFF
$color-background-accent: #FFFCC9

$body-font-family: "DMSans", sans-serif
$heading-font-family: "Condate", sans-serif

$body-size-desktop: pxToRem(20)
$body-line-height: 160%

$h1-size-desktop: pxToRem(53)

$h3-weight: normal
$h3-size-desktop: pxToRem(27)
$h3-line-height: pxToRem(41)

$h4-font-family: $body-font-family

// $h5-font-family: $body-font-family
$h5-size-desktop: pxToRem(27)
$h5-weight: bold
$h5-text-transform: none

$h6-font-family: $body-font-family

$lead-sidebar-size-desktop: pxToRem(27)
$lead-sidebar-line-height-desktop: pxToRem(40)

$header-color: $color-background
$header-background: $color-text
$header-logo-height: pxToRem(30)
$header-logo-height-desktop: pxToRem(43)
$header-border-bottom-width: 0
$header-sticky-background: $header-background
$header-dropdown-full: true

$body-overlay-color: rgba(255, 255, 255, 0.9) !default

$hero-color: $color-background
$hero-background-color: $color-text

$breadcrumb-icon-color: inherit

$footer-color: $color-background
$footer-background-color: $color-text
$footer-logo-height: pxToRem(45)
$footer-logo-height-desktop: pxToRem(90)

$toc-active-color: inherit

$btn-border-radius: pxToRem(30)
$btn-padding: space(4)

// SECTIONS
$persons-avatar-background-color: white

// BLOCKS
$block-space-y: space(24)
$block-space-y-desktop: space(24)

// Block call to action
$block-call-to-action-background: $color-accent
$block-call-to-action-color: $color-text

$small-line-height: 175%
